<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/staic.css/singlepage.css}" rel="stylesheet"/>
<head>
    <title th:text="${reviewModel.albumName}">A Review</title>
</head>
<body>

<header>
    <h1 th:text="${reviewModel.albumName}"></h1>
</header>

<main>
        <p><a href="/reviews">Reviews</a></p>
    <h2 th:text="${reviewModel.albumDescription}"></h2>
    <img th:src="${reviewModel.imgUrl}">
    <ul>
        <li th:text="${reviewModel.getAlbumReleaseDate()}"></li>
        <li th:text="${reviewModel.getGenre()}"></li>
    </ul>
</main>

<footer>
    <small>&copy Evan Adkins 2020</small>
</footer>

</body>
</html>